body {
  height:100vh
}
.place-container {
  width: 20vw;
  height: 100vh;
  background-color: '#f4f4f4';
  overflow-y: auto;
}
.place-image{
  width: 100%;
  height: auto;
}
.main-container {
  display: flex;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F1EFF0;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
}
.navbar-link {
  color: black;
  text-decoration: none;
}
.signup-body, .login-body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-container, .login-container {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  max-width: 400px;
  box-sizing: border-box;
  margin: 0 auto;
}
.signin-input, .login-input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid;
  border-radius: 8px;
  width: 100%;
}
.signin-text, .login-text {
  text-align: center;
  margin-bottom: 20px;
}
.signup-container label, .login-container label {
  font-weight: bold;
}
.signup-button, .login-button {
  background-color: green;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signup-button:hover, .login-button:hover {
  opacity: 0.8;
}
.signup-link, .login-link {
  color: #1338be;
  text-decoration: none;
}