.place-container {
  width: 20vw;
  height: 100vh;
  background-color: '#f4f4f4';
  overflow-y: auto;
}
.place-image{
  width: 100%;
  height: auto;
}
.main-container {
  display: flex;
  width: 100%;
}